<!DOCTYPE html>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
	<script src="ng-filter-format-script.js"></script>
</head>
<body ng-app="ngFilterFormet">

	<div ng-controller="ngFilterFormetCtrl">

		<input type="number" min="0" max="5" step=1 ng-model="rows">
		<br><br><br>
		<table border=1>
			<thead>
				<tr>
					<th>Name</th>
					<th>Gender</th>
					<th>Salery (number filter)</th>
					<th>Salery (curency filter)</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="emply in emp | limitTo:rows:2" >
					<td>{{emply.name | lowercase}}</td>
					<td>{{emply.gender | uppercase}}</td>
					<td>{{emply.salery | number:1 }}</td>
					<td>{{emply.salery | currency:"$":1 }}</td>
				</tr>
			</tbody>
		</table>
	</div>

</body>
</html>