<!DOCTYPE html>
<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.js"></script>
		<script src="search-script.js"></script>
	</head>
	<body ng-app="searchModel">
		<div ng-controller="searchController">
			
			<input type="text" ng-model="search.name" placeholder="Search by name">
			<input type="text" ng-model="search.city" placeholder="Search by city">
<br><br>
			<table border="1">
				<thead>
					<th>Name</th>
					<th>Gender</th>
					<th>Salery</th>
					<th>City</th>
				</thead>
				<tbody>
					<tr ng-repeat="emp in emplys | filter:search">
						<td>{{emp.name}}</td>
						<td>{{emp.gender}}</td>
						<td>{{emp.salery}}</td>
						<td>{{emp.city}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>
			
